@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body{
    font-family: Roboto Condensed,sans-serif!important;

}
.headings {
    font-style: normal;
    line-height: normal;
    color: #393939;
}
.abt-paragraph {
    margin-top: 0;
    margin-bottom: 1em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.line{
    height: 0px !important;
    margin-top: 5px!important;
    opacity: .7;
    border: 0.5px solid #0e0d0d;
    width: 100%;
    }
.vision-text{
    max-width: 1200px;
    margin: auto;
}
.team-unit { 
     margin: 7.625rem 0;
}

.abt-card  {
    padding: 0px !important;

    box-shadow: none !important;
      border: none !important;
      filter: gray; 
      -webkit-filter: grayscale(1); 
      /* -webkit-transition: all .1s ease-in-out;   */
    }

 .abt-card:hover {
    border: 1px solid #5b90de!important;

    filter: none;
      -webkit-filter: grayscale(0);
      transform: scale(1) !important;
    }
@media (max-width: 800px){
    
    .about .vision .vision-text {
        margin-top: 10px;
        font-style: normal;
        font-weight: 300;
        line-height: 18px;
        font-size: 14px;
        text-align: justify;
        letter-spacing: .01em;
        color: #393939;
        opacity: .5;
        
    }
    h1 {
        font-size: 18px;
    }
}
@media (max-width: 451px){
    
    .abt-row{
        margin-left: 1.8rem !important;
    }
}

@media (max-width: 376px){
    
    .abt-row{
        margin-left: 1rem !important;
    }
}